# MQTT Configuration
MQTT_HOST = "your-mqtt-server"
MQTT_PORT = "1883"
MQTT_USERNAME = "your_username"
MQTT_PASSWORD = "your_password"
MQTT_NODE_TOPIC="meshcore_monitor/nodes/new"
MQTT_STATUS_TOPIC="meshcore_monitor/status"
MQTT_MESSAGE_TOPIC="meshcore_monitor/messages"
MQTT_ADVERT_TOPIC="meshcore_monitor/advert"
MQTT_CHANNELS_TOPIC="meshcore_monitor/channels"

# How long to limit contacts (hours)
HOURS = 48
# Google Maps API
GOOGLE_MAPS_API_KEY = "Your Google Maps API key"
