# MQTT Configuration
MQTT_HOST = "your-mqtt-server"
MQTT_PORT = "1883"
MQTT_USERNAME = "your_username"
MQTT_PASSWORD = "your_password"
MQTT_NODE_TOPIC = "meshcore/nodes/new"
MQTT_MESSAGE_TOPIC = "meshcore/messages"

# How long to limit contacts (hours)
HOURS = 48
# Google Maps API
GOOGLE_MAPS_API_KEY = "Your Google Maps API key"
